a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
    font-size: 14px;
    font-family: "Open Sans";
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
        font-family: "Open Sans";
    }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
